body {
	line-height: 150%; font-family: "ו"; font-size: 9pt; text-decoration: none; background-color: rgb(251, 253, 255);
}
td {
	font-family: "ו"; font-size: 9pt;
}
input {
	height: 20px; font-size: 9pt;
}
button {
	height: 20px; font-size: 9pt;
}
select {
	height: 20px; font-size: 9pt;
}
a {
	color: rgb(0, 0, 0); text-decoration: none;
}
a:hover {
	color: rgb(66, 142, 255); text-decoration: underline;
}
.title {
	background: url("../Images/topBar_bg.gif");
}
.border {
	border: 1px solid rgb(57, 134, 123);
}
.tdbg {
	background: rgb(225, 244, 238); line-height: 120%;
}
.topbg {
	background: url("../Images/topbg.gif"); color: rgb(255, 255, 255);
}
