a {
	text-decoration: none;
}
a:link {
	color: rgb(51, 51, 51); font-family: ??━?; text-decoration: none;
}
a:visited {
	color: rgb(51, 51, 51); font-family: ??━?; text-decoration: none;
}
a:active {
	font-family: ??━?; text-decoration: none;
}
a:hover {
	border-width: 1px; color: rgb(255, 102, 0); text-decoration: none; border-bottom-color: currentColor; border-bottom-style: dotted;
}
body {
	color: rgb(51, 51, 51); font-family: ??━?; font-size: 12px; -ms-scrollbar-base-color: rgb(228, 228, 228); -ms-scrollbar-face-color: rgb(228, 228, 228); -ms-scrollbar-3dlight-color: rgb(160, 160, 160); -ms-scrollbar-shadow-color: rgb(160, 160, 160); -ms-scrollbar-highlight-color: rgb(255, 255, 255); -ms-scrollbar-darkshadow-color: rgb(255, 255, 255); -ms-scrollbar-arrow-color: rgb(255, 255, 255);
}
table {
	font-family: ??━?; font-size: 9pt; border-collapse: collapse; bottom-border-width: 1px; bottom-border-color: #f5f5f5;
}
.button {
	background: url("ButtonBg.gif") rgb(246, 246, 249); border: 1px solid rgb(85, 137, 170); width: 50px; height: 18px; color: rgb(0, 0, 0); font-size: 9pt;
}
.font {
	font-size: 9pt; text-decoration: none;
}
.tree {
	bgcolor: #1791d9;
}
input.login {
	border: 1px solid rgb(123, 158, 189); width: 100px; height: 20px; color: rgb(0, 0, 0); line-height: normal; padding-top: 0px; padding-bottom: 0px; clear: none; font-size: 9pt; font-variant: normal; font-weight: normal; float: none; background-color: rgb(255, 255, 255); align: center;
}
input.sbutton {
	background: rgb(245, 245, 245); border: 1px solid rgb(0, 173, 255); height: 20px; color: rgb(51, 51, 51); line-height: normal; font-size: 9pt; font-style: normal; font-variant: normal; font-weight: normal; cursor: hand;
}
button.sbutton {
	background: rgb(245, 245, 245); border: 1px solid rgb(0, 173, 255); height: 20px; color: rgb(51, 51, 51); line-height: normal; font-size: 9pt; font-style: normal; font-variant: normal; font-weight: normal; cursor: hand;
}
.title {
	height: 30px; color: rgb(255, 255, 255); font-family: "??━?"; font-size: 12px; font-style: normal; font-weight: bold; background-color: rgb(14, 83, 152);
}
.inside1 {
	text-align: center; font-family: "??━?"; font-size: 12px; font-style: normal; font-weight: normal; background-color: rgb(255, 255, 255);
}
.inside2 {
	text-align: center; font-family: "??━?"; font-size: 12px; font-style: normal; font-weight: normal; background-color: rgb(239, 239, 255);
}
.manybutton {
	text-align: left; margin-bottom: 20px; margin-left: 200px;
}
.button_span1 {
	padding-left: 32px; font-size: 16px;
}
.button_span1 {
	font-size: 16px;
}
.button_span2 {
	font-size: 16px;
}
.manybutton input {
	width: 100px; height: 25px; line-height: 25px; margin-right: 20px;
}
.manybutton div {
	margin-bottom: 3px;
}
.main_1 {
	width: 100%; height: 280px; text-align: center; padding-top: 80px;
}
.main_1 button {
	border: currentColor; width: 300px; height: 50px; color: rgb(255, 255, 255); font-size: 15px; font-weight: bold; cursor: pointer; font-shadow: 1px solid;
}
.main_1_button1 {
	background: url("../images/main_1button2.jpg");
}
.main_1_button2 {
	background: url("../images/main_1button1.jpg"); margin-top: 20px;
}
