body {
	background: rgb(255, 255, 255); margin: 0px; padding: 0px; color: rgb(0, 133, 194); font-family: "Î¢ÈíÑÅºÚ","ËÎÌå"; font-size: 12px;
}
div {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
form {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
ul {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
ol {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
li {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
span {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
p {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
dl {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
dd {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
dd {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
img {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
a img {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
h1 {
	margin: 0px; padding: 0px; font-size: 14px; font-weight: normal;
}
h2 {
	margin: 0px; padding: 0px; font-size: 14px; font-weight: normal;
}
h3 {
	margin: 0px; padding: 0px; font-size: 14px; font-weight: normal;
}
h4 {
	margin: 0px; padding: 0px; font-size: 14px; font-weight: normal;
}
h5 {
	margin: 0px; padding: 0px; font-size: 14px; font-weight: normal;
}
h6 {
	margin: 0px; padding: 0px; font-size: 14px; font-weight: normal;
}
th {
	margin: 0px; padding: 0px; font-size: 14px; font-weight: normal;
}
em {
	font-style: normal;
}
var {
	font-style: normal;
}
i {
	font-style: normal;
}
ul {
	list-style: none;
}
li {
	list-style: none;
}
table {
	padding: 0px; font-size: 14px;
}
td {
	padding: 0px; font-size: 14px;
}
input {
	padding: 0px; font-size: 14px;
}
a {
	color: rgb(89, 89, 89); text-decoration: none;
}
a:hover {
	color: rgb(193, 31, 7); text-decoration: underline;
}
.center {
	margin-right: auto; margin-left: auto;
}
.logoa_box {
	background: url("../Images/login_bg_011.jpg") repeat-x;
}
.logoa_boxa {
	background: url("../Images/login_bg_0111.jpg") no-repeat center 0px;
}
.logoa {
	width: 1000px; height: 770px;
}
.login {
	padding-top: 260px; padding-left: 645px;
}
.txt_onea {
	background: url("../Images/pic_37.gif") no-repeat; height: 33px; padding-top: 3px; padding-left: 7px;
}
.txt_onea input {
	border: 0px currentColor; width: 200px; height: 30px;
}
.tijiao {
	background: url("../Images/pic_36.gif") no-repeat; border: 0px currentColor; width: 145px; height: 44px; text-indent: -2000px; display: block; cursor: pointer;
}
.login_bottom {
	text-align: center; padding-top: 264px;
}
